@model SimplyShopMVC.Application.ViewModels.Item.AddItemVm
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AddItem";
}
<div class="row bg-light rounded m-2 pb-4">

    <form asp-action="AddItem" class="row g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TagId" />
        <div class="col-md-4">
            <label asp-for="TagName" class="control-label"> Nazwa tagu</label>
            <input asp-for="TagName" class="form-control" />
            <span asp-validation-for="TagName" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="TagDescription" class="control-label">Opis tagu </label>
            <input asp-for="TagDescription" class="form-control" />
            <span asp-validation-for="TagDescription" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Dodaj" class="btn btn-primary mt-4" />
        </div>
    </form>

</div>

<div class="row bg-warning-subtle rounded m-2 pb-4">

    <form asp-action="AddItem" class="row g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="categoryId" />
        <div class="col-md-5">
            <label asp-for="mainCategoryId" class="control-label">Kategoria Główna - </label>
            <span asp-validation-for="mainCategoryId" class="text-danger"></span>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" asp-for="mainCategoryId">
                <option value="0">Wybierz kategorię macierzystą</option>
                @foreach (var options in Model.Categories)
                {
                    <option value="@options.Id">@options.Name</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label asp-for="categoryName" class="control-label"> Nazwa kategorii</label>
            <input asp-for="categoryName" class="form-control" />
            <span asp-validation-for="categoryName" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="categoryDescription" class="control-label">Opis kategorii </label>
            <input asp-for="categoryDescription" class="form-control" />
            <span asp-validation-for="categoryDescription" class="text-danger"></span>
        </div>
        <div class="col-md-2 pt-4 ps-4">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="isActiveCategory" /> @Html.DisplayNameFor(model => model.isActiveCategory)
            </label>
        </div>
        <div class="col-md-2 pt-4 pe-4">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="isMainCategory" /> @Html.DisplayNameFor(model => model.isMainCategory)
            </label>
        </div>      
            <div class="col-md-2">
                <input type="submit" value="Dodaj" class="btn btn-primary mt-4" />
            </div>
    </form>

</div>

<div class="row">
    <form asp-action="AddItem" class="row g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="col-md-6">
            <p class="mt-1 mb-0">Wybierz kategorię towaru: </p>
            <select class="form-select mb-2" id="selectedCategory" name="selectedCategory">
                <option value="0">Wybierz kategorię</option>
                @if (Model.Categories != null)
                {
                    @foreach (var cat in Model.Categories)
                    {
                        <option value="@cat.Id" name="@cat.Name">@cat.Name</option>
                    }
                }              
            </select>
            <span asp-validation-for="selectedCategory" class="text-danger"></span>
             
            <label asp-for="Image" class="form-label">Wybierz zdjęcie główne</label>
            <input asp-for="Image" class="form-control" type="file" name="Image" id="Image" multiple>
            
        </div>
        <div class="col-md-6">
            <p class="mt-1 mb-0">Wybierz Tag towaru: </p>
            <select class="form-select" id="SelectedTags" name="SelectedTags" multiple>
                @if (Model.ItemTags != null)
                {
                    @foreach (var tags in Model.ItemTags)
                    {
                        <option value="@tags.Id" name="@tags.Name">@tags.Name</option>
                    }
                }             
            </select>
            <span asp-validation-for="SelectedTags" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label for="Name" class="form-label">Nazwa Towaru</label>
            <input type="text" class="form-control shadow-sm rounded" asp-for="Name">
        </div>
        <div class="col-md-6">
            <label for="ItemSymbol" class="form-label">Symbol towaru</label>
            <input type="text" placeholder="Zostaw puste żeby nadać symbol automatycznie!" class="form-control shadow-sm rounded" asp-for="ItemSymbol">
        </div>

        <div class="col-md-4 pt-3">
            <label for="EanCode" class="form-label">Wpisz kod Ean artykułu</label>
            <input type="text" placeholder="xxxxxxxxxxxxxx" class="form-control shadow-sm rounded" asp-for="EanCode">
        </div>
        <div class="col-md-8">
            <label for="ShortDescription" class="form-label">Krótki opis towaru</label>
            <textarea placeholder="" class="form-control shadow-sm rounded" asp-for="ShortDescription"> </textarea>
        </div>
        <div class="col-md-4">
        <input class="form-check-input h4" type="checkbox" asp-for="IsActive">
            <label class="form-check-label h4" for="flexCheckDefault">Towar aktywny.</label>
           
        </div>
        <div class="col-md-12">
            <label asp-for="Description" class="control-label">Dodaj pełny opis produktu</label>
            <textarea asp-for="Description" id="mytextarea" class="shadow-sm rounded">Wpisz tekst</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row bg-warning-subtle rounded m-2 pb-4">
            <div class="col-md-3">
                <label asp-for="selectedWarehouseId" class="form-label">Wybierz magazyn dostawy:</label>
            <select class="form-select" asp-for="selectedWarehouseId">
                @if (Model.warehouses != null)
                {
                    @foreach (var result in Model.warehouses)
                    {
                        <option value="@result.Id" name="@result.Name">@result.Name</option>
                    }
                }
            </select>
            </div>
            <div class="col-md-3">
                <label asp-for="ItemWarehouse.Quantity" class="form-label">Podaj ilość:</label>
                <input type="number" class="form-control shadow-sm rounded" asp-for="ItemWarehouse.Quantity">
            </div>
            <div class="col-md-3">
            <span asp-validation-for="selectedWarehouseId" class="text-danger"></span>
            <label asp-for="ItemWarehouse.NetPurchasePrice" class="form-label">cena zakupu netto</label>
            <input type="number" class="form-control shadow-sm rounded" asp-for="ItemWarehouse.NetPurchasePrice">
            </div>
            <div class="col-md-3">
            <label asp-for="ItemWarehouse.FinalPriceA" class="form-label">cena sprzedaży netto</label>
            <input type="number" class="form-control shadow-sm rounded" asp-for="ItemWarehouse.FinalPriceA">
            </div>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Dodaj" class="btn btn-primary mt-4" />
        </div>
    </form>
</div>

