@model SimplyShopMVC.Application.ViewModels.Order.ListDeliveryForListVm

@{
    ViewData["Title"] = "Delivery settings";
}
<h1>Dostawy - dodawanie , edycja</h1>
<div class="row">
    <table class="table table-hover">
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>max kg</th>
            <th>Zapisz</th>
            <th>Usuń</th>
        </tr>

        @if (Model.listDelivery != null && Model.listDelivery.Count > 0)
        {
            @foreach (var gItem in Model.listDelivery)
            {
                <tr>
                    <form class="row" asp-action="DeliverySettings" method="post">
                        <input type="hidden" asp-for="delivery.Id" value="@gItem.Id" />
                        <input type="hidden" name="options" value="2" />
                    <td>
                        <input type="text" asp-for="delivery.Name" value="@gItem.Name" />
                    </td>
                    <td>
                        <input type="text" asp-for="delivery.Description" value="@gItem.Description" />
                    </td>
                    <td>
                        <input type="text" asp-for="delivery.Cost" value="@gItem.Cost" />
                    </td>
                    <td>
                        <input type="text" asp-for="delivery.MaxWeight" value="@gItem.MaxWeight" />
                    </td>
                    <td>
                        <button type="submit" class="btn btn-bd-primary">Zapisz</button>
                    </td>
                    </form>
                    <td>
                        <form class="" asp-action="DeliverySettings" method="post" id="form_@gItem.Id">
                            <input type="hidden" asp-for="delivery.Id" value="@gItem.Id" />
                            <input type="hidden" name="options" value="3" />
                            <button type="button" onclick="confirmAction(event)" class="btn btn-danger m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                </svg>
                            </button>
                            <button type="submit" hidden class="btn btn-danger m-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
        <tr>
            <form class="row" asp-action="DeliverySettings" method="post">
                <input type="hidden" asp-for="delivery.Id" value="0" />
                <input type="hidden" name="options" value="1" />
            <td>
                <input type="text" asp-for="delivery.Name" value="" required />
            </td>
            <td>
                <input type="text" asp-for="delivery.Description" value="" />
            </td>
            <td>
                <input type="number" asp-for="delivery.Cost" value="" required />
            </td>
            <td>
                <input type="number" asp-for="delivery.MaxWeight" value="" />
            </td>
            <td>
                <button type="submit" class="btn btn-success">Dodaj nową</button>
            </td>
            </form>
        </tr>
    </table>
</div>
@section Scripts
    {
    <script>
        function confirmAction(event) {
            event.preventDefault();
            if (confirm("Czy na pewno chcesz usunąć grupę ?")) {
                var button = event.target;
                var form = button.closest('form');
                form.submit();
            }
        }
    </script>
    }

