@model SimplyShopMVC.Application.ViewModels.Item.AddItemVm
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "UpdateItem";
}
<h2> Edycja towaru.</h2>
<div class="row bg-light rounded m-2 pb-4">

    <form asp-action="ItemUpdate" method="post" class="row g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TagId" />
        <div class="col-md-4">
            <label asp-for="TagName" class="control-label"> Nazwa tagu</label>
            <input asp-for="TagName" class="form-control" />
            <span asp-validation-for="TagName" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="TagDescription" class="control-label">Opis tagu </label>
            <input asp-for="TagDescription" class="form-control" />
            <span asp-validation-for="TagDescription" class="text-danger"></span>
        </div>
        <input asp-for="Id" value="@Model.Id" type="hidden" class="form-control" />
        <div class="col-md-2">
            <input type="submit" value="Dodaj" class="btn btn-primary mt-4" />
        </div>
    </form>

</div>

<div class="row bg-warning-subtle rounded m-2 pb-4">

    <form asp-action="ItemUpdate" method="post" class="row g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Category.Id" />
        <div class="col-md-5">
            <label asp-for="Category.MainCategoryId" class="control-label">Kategoria Główna - </label>
            <span asp-validation-for="Category.MainCategoryId" class="text-danger"></span>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" asp-for="Category.MainCategoryId">
                <option value="0">Wybierz kategorię macierzystą</option>
                @foreach (var options in Model.Categories)
                {
                        <option value="@options.Id">@options.Name</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label asp-for="Category.Name" class="control-label"> Nazwa kategorii</label>
            <input asp-for="Category.Name" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Category.Description" class="control-label">Opis kategorii </label>
            <input asp-for="Category.Description" class="form-control" />
            <span asp-validation-for="Category.Description" class="text-danger"></span>
        </div>
        <div class="col-md-2 pt-4 ps-4">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Category.IsActive" /> @Html.DisplayNameFor(model => model.Category.IsActive)
            </label>
        </div>
        <div class="col-md-2 pt-4 pe-4">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Category.IsMainCategory" /> @Html.DisplayNameFor(model => model.Category.IsMainCategory)
            </label>
             <input asp-for="Id" value="@Model.Id" type="hidden" class="form-control" />
        </div>      
            <div class="col-md-2">
                <input type="submit" value="Dodaj" class="btn btn-primary mt-4" />
            </div>
    </form>

</div>

<div class="row">
    <form asp-action="ItemUpdate" method="post" class="row g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="col-md-6">
            <p class="mt-1 mb-0">Wybierz kategorię towaru: </p>
            <select class="form-select mb-2" id="selectedCategory" name="selectedCategory">
                
                @if (Model.Categories != null)
                {
                    @foreach (var options in Model.Categories)
                    {
                         <option value="@options.Id" name="@options.Name" selected="@(Model.CategoryId !=null && Model.CategoryId == options.Id ? "selected": null)">@options.Name</option>
                    }
                }              
            </select>
            <span asp-validation-for="selectedCategory" class="text-danger"></span>

            <label asp-for="Image" class="form-label">Wybierz zdjęcie główne</label>
            <input asp-for="Image" class="form-control" type="file" name="Image" id="Image" multiple>

        </div>
        <div class="col-md-6">
            <p class="mt-1 mb-0">Wybierz Tag towaru: </p>
            <select class="form-select" id="SelectedTags" name="SelectedTags" multiple>
                @if (Model.ItemTags != null)
                {                  
                    @foreach (var tags in Model.ItemTags)
                    {
                        var sTag = Model.SelectedTags.FirstOrDefault(t => t == tags.Id);
                        <option value="@tags.Id" name="@tags.Name" selected="@(Model.SelectedTags !=null && tags.Id == sTag ? "selected": null)">@tags.Name</option>
                    }
                }             
            </select>
            <span asp-validation-for="SelectedTags" class="text-danger"></span>
           <p class="mt-1 mb-0">Wybierz grupę towaru: </p>
            <select class="form-select mb-2" id="selectedGroup" name="selectedGroup">

                @if (Model.ListGroup != null)
                {
                    @foreach (var options in Model.ListGroup)
                    {
                        <option value="@options.Id" name="@options.Name" selected="@(Model.GroupItemId != 0 && Model.GroupItemId == options.Id ? "selected": null)">@options.Name</option>
                    }
                }
            </select>
        </div>

        <div class="col-md-6">
            <label for="Name" class="form-label">Nazwa Towaru</label>
            <input type="text" class="form-control shadow-sm rounded" asp-for="Name">
        </div>
        <div class="col-md-6">
            <label for="ItemSymbol" class="form-label">Symbol towaru</label>
            <input type="text" placeholder="Zostaw puste żeby nadać symbol automatycznie!" class="form-control shadow-sm rounded" asp-for="ItemSymbol">
        </div>

        <div class="col-md-4 pt-3">
            <label for="EanCode" class="form-label">Wpisz kod Ean artykułu</label>
            <input type="text" placeholder="xxxxxxxxxxxxxx" class="form-control shadow-sm rounded" asp-for="EanCode">
        </div>
        <div class="col-md-8">
            <label for="ShortDescription" class="form-label">Krótki opis towaru</label>
            <textarea placeholder="" class="form-control shadow-sm rounded" asp-for="ShortDescription"> </textarea>
        </div>
        <div class="col-md-4">
        <input class="form-check-input h4" type="checkbox" asp-for="IsActive">
            <label class="form-check-label h4" for="flexCheckDefault">Towar aktywny.</label>

        </div>
         <div class="col-md-4">
            <select class="form-select" id="SelectedImage" name="SelectedImage" multiple>
                    @foreach (var images in Model.ListImages)
                    {
                        <option value="@images.Name" name="SelectedImage">@images.Name</option>
                    }
                </select>
            </div>
        <div class="col-md-12">
            <label asp-for="Description" class="control-label">Dodaj pełny opis produktu</label>
            <textarea asp-for="Description" id="mytextarea" class="shadow-sm rounded">Wpisz tekst</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Zapisz" class="btn btn-primary mt-4" />
        </div>
    </form>
</div>
