@model SimplyShopMVC.Application.ViewModels.PcSets.ListPcSetsForListVm

<table class="table table-hover">
    <tr>
        <th>
            Id
        </th>
        <th>Tytuł</th>
        <th>Utworzono</th>
        <th>Modyfikacja</th>
        <th>IsActive</th>
        <th>IsSaved</th>
        <th>IsDeleted</th>
        <th>Działania</th>

    </tr>
    @if (Model.listSets != null)
    {
        @foreach (var setPc in Model.listSets)
        {
            <tr>
                <td>@setPc.Id</td>
                <td>@setPc.Title</td>
                <td>@setPc.CreatedDate.Date</td>
                <td>@setPc.UpdatedDate.Date</td>
                <td>
                    @if (setPc.IsActive)
                    {
                        <span class="badge rounded-pill text-bg-success">Tak</span>
                    }
                    else
                    {
                        <span class="badge rounded-pill text-bg-dark">Nie</span>
                    }
                </td>
                <td>
                    @if (setPc.IsSaved)
                    {
                        <span class="badge rounded-pill text-bg-success">Tak</span>
                    }
                    else
                    {
                        <span class="badge rounded-pill text-bg-dark">Nie</span>
                    }
                </td>
                        <td>
                    @if (setPc.IsDeleted)
                    {
                        <span class="badge rounded-pill text-bg-dark">Tak</span>
                    }
                    else
                    {
                                    <span class="badge rounded-pill text-bg-success">Nie</span>
                    }
                        </td>
                        <td>
                    <form asp-action="AdminEditPcSet" method="get">
                        <input type="hidden" asp-for="pcSet.Id" value="@setPc.Id" />
                        <input type="hidden" name="options" value="6" />
                        <button type="submit" class="btn-danger text-bg-danger">
                            <?xml version="1.0" ?>
                            <svg fill="none" height="24" stroke="currentColor" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" /><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" /></svg>
                        </button>
                            </form>
                        </td>
            </tr>
        }
    }

</table>