@model SimplyShopMVC.Application.ViewModels.Front.ListItemShopIndexVm
@{
    ViewData["Title"] = "HKR24.pl - Shop index site";
}
@{
    var mainCategories = Model.categories.Where(i => i.IsMainCategory == true);
}
<div class="row mt-2">
    <div class="col-md-12 d-flex justify-content-center">
        <p class="d-inline-flex gap-1 mt-1">
            <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" data-bs-toggle="collapse" href="#listCategories" role="button" aria-expanded="false" aria-controls="listCategories">
                <span class="text-center h5 "> Wyświetl kategorie </span>
            </a>
    </div>
    <div class="collapse" id="listCategories">
        <div class="d-flex align-items-start flex-md-column mb-1 flex-sm-row flex-wrap" style="height:550px">
            @foreach (var mainCategory in mainCategories)
            {
                // <div class="col-md-3 col-sm-6">
                <div class="col-md-2 col-sm-6">
                    <span class="fw-bold">@mainCategory.Name</span>
                </div>
                // @{
                var subCategory = Model.categories.Where(i => i.MainCategoryId == mainCategory.Id);
                //  }
                @foreach (var subCat in subCategory)
                {
                    <div class=" col-md-2 col-sm-6 ms-2">
                        <span class="">- @Html.ActionLink(subCat.Name,"Index", new {selectedCategory=subCat.Id}, new{@class="link-offset-2 text-black link-underline link-underline-opacity-0 link-underline-opacity-50-hover"})</span>
                    </div>
                }
                //    </div>
            }
        </div>
    </div>

</div>
<div class="row mt-2">
    <div class="col-md-12">
    </div>
</div>
<form asp-action="Index" method="post" id="headForm">
    <div class="row mt-2 d-flex pb-1">
        <div class="col-md-4 d-flex">
            <div class="col-md-8 m-1">
                <input type="hidden" asp-for="selectedCategory" value="@Model.selectedCategory" />
                <input type="hidden" name="pageNo" value="1" />
                <input class="form-control" type="search" placeholder="min. 3 znaki" pattern=".{3,}" aria-label="Search" asp-for="searchItem">
                <input type="hidden" asp-for="selectedTag" id="selectedTag" value="@Model.selectedTag" />

            </div>
            <div class="col-md-3 m-1">
                <button class="btn btn-outline-success" type="submit">Wyszukaj</button>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-end text-info">
            <div class="col-md-1 d-flex justify-content-center align-items-center pt-2">
                <a class="icon-link fs-3 border text-center align-middle btn btn-outline-primary" href="javascript:SetViewLocal(0)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z" />
                        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z" />
                        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z" />
                    </svg>
                </a>
            </div>
            <div class="col-md-1 d-flex justify-content-center align-items-center pt-2">
                <a class="icon-link fs-3 border text-center align-middle btn btn-outline-primary" href="javascript:SetViewLocal(1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </a>
            </div>
        </div>

    </div>
</form>
<div class="row mt-1 bg-white">
    @if (Model.categoryItems.Count == 0)
    {
        <vc:box-new-items number="16"/>
    }
    <div class="col-md-2 bg-white me-2 mt-2 d-flex align-items-center">
        <p class="text-center mb-auto">Filtry:</p>

        @if (Model.tags != null)
        {
            <div class="col-md-6 btn-group-vertical mb-auto mt-5" role="group" aria-label="Vertical radio toggle button group">
                <input type="radio" class="btn-check filtrRadio" name="options-base" id="0" autocomplete="off" checked="@(Model.selectedTag==0 ? true:false)">
                <label class="btn btn-outline-dark" for="0">brak</label>
                @foreach (var filtr in Model.tags)
                {

                    <input type="radio" class="btn-check filtrRadio border border-1 m-1" name="options-base" id="@filtr.Id" autocomplete="off" checked="@(Model.selectedTag==filtr.Id ? true:false)">
                    <label class="btn btn-outline-info" for="@filtr.Id">@filtr.Name</label>

                }
            </div>


        }

    </div>
    <div class="col-md-9 bg-light p-0">
        <table class="table table-striped mt-2" style="display:none" id="produktyLista">
            <tr>
                <th>Nazwa towaru</th>
                <th>dostępna ilość</th>
                <th>cena brutto</th>
                <th>czas dostawy</th>
                <th>zamów</th>
                <th>Ulubione</th>
            </tr>


            @foreach (var sItem in Model.categoryItems)
            {
                <tr>
                    <td>
                        <button type="button" class="btn btn-link" id="modal-description-btn-@sItem.id"><span class="fs-6">@sItem.name</span></button>
                        <partial name="Modals/_ModalDescription"
                             model="@(new ModalParams
                                        {
                                    Id="modal-description-" + sItem.id,
                                    Title=sItem.name ,
                                    Description= sItem.description
                                    })" />
                    </td>
                    <td>@sItem.quantity</td>
                    <td>@sItem.priceB.ToString("N2")</td>
                    <td>@sItem.deliveryTime</td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="Cart" asp-action="AddCartItem" method="post">

                                <input type="hidden" asp-for="selectedCategory" value="@Model.selectedCategory" />
                                <input type="hidden" name="pageNo" value="@Model.currentPage" />
                                <input type="hidden" id="@sItem.id" asp-for="@Model.cartItem.ItemId" value="@sItem.id">
                                <input type="hidden" asp-for="cartItem.Name" value="@sItem.name" />
                                <input type="hidden" id="prizeB_@sItem.id" asp-for="@Model.cartItem.PriceN" value="@sItem.priceB" />
                                <input type="hidden" asp-for="cartItem.WarehouseId" value="@sItem.warehouseId" />
                                <input type="hidden" asp-for="@Model.cartItem.CartId" value="@Model.cart.Id">
                                <input type="hidden" min="0" asp-for="cartItem.Quantity" class="form-control p-1" id="quantity_@sItem.id" value="1" data-val="true" aria-describedby="inputGroup-sizing-lg" style="max-width: 100px;">

                                <button type="submit" class="btn btn-danger ms-4 me-4 @(sItem.quantity>0 ? null : "disabled")">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="" class="bi bi-cart-plus-fill text-light" viewBox="0 0 16 16">
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                                    </svg> <span class="text-light link-underline link-underline-opacity-0"></span>
                                </button>

                            </form>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <form asp-controller="Item" asp-action="AddPcSet" method="post">
                                <input type="hidden" name="options" value="1" />
                                <input type="hidden" id="@sItem.id" asp-for="listItemsSets.setsItem.ItemId" value="@sItem.id">
                                <input type="hidden" min="0" asp-for="listItemsSets.setsItem.Quantity" class="form-control p-1" id="quantity_@sItem.id" value="1" data-val="true" aria-describedby="inputGroup-sizing-lg" style="max-width: 100px;">
                                <button type="submit" class="btn btn-dark ms-4 me-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="" class="bi bi-cart-plus-fill text-light" viewBox="0 0 16 16">
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                                    </svg> <span class="text-light link-underline link-underline-opacity-0"></span>
                                </button>
                            </form>
                        }
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button class="btn btn btn-outline-info biHover" id="favorite-add-button" type="button" onclick="addFavorite('@sItem.id', this)">                              
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart text-info svghover" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                </svg>
                            </button>
                        }
                    </td>
                </tr>
            }
        </table>
        <div class="col-md-12 bg-light" style="display:none" id="produktyPanel">

            @foreach (var sItem in Model.categoryItems)
            {
                var mainImage = sItem.images.FirstOrDefault();
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Cart" asp-action="AddCartItem" method="post">

                        <div class="col-md-12 d-flex mt-2 bg-white">
                            <div class="text-center d-flex justify-content-center m-1 col-md-2">
                                <div class="d-flex align-self-center justify-content-center">
                                    <img src="@mainImage.ImageUrl" class=" object-fit-contain  img-thumbnail img-fluid miniaturka border-0 " alt="@sItem.name">
                                </div>
                            </div>
                            <div class="d-flex  flex-grow-1 p-4 flex-column">
                                <div class="mb-auto">
                                    <div class="d-inline-flex">
                                        @if ((sItem.tags.Any()) && (sItem.tags != null))
                                        {
                                            @foreach (var tags in sItem.tags)
                                            {
                                                <div class=" badge bg-danger text-wrap m-1" style="width: 6rem;">
                                                    <span>@tags.Name</span>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="p-1">
                                    <button type="button" class="btn btn-link" id="modal-description-btn-v2-@sItem.id"><span class="fs-6">@sItem.name</span></button>
                                    <partial name="Modals/_ModalDescription"
                                     model="@(new ModalParams
                                        {
                                    Id="modal-description-v2-" + sItem.id,
                                    Title=sItem.name ,
                                    Description= sItem.description
                                    })" />
                                </div>
                                <div class="mt-auto row">
                                    <div class="col p-1"><span class="text-secondary">Ean: @sItem.eanCode</span></div>
                                    <div class="col p-1"><span class="text-secondary">Symbol: @sItem.itemSymbol</span></div>
                                    <div class="col p-1"><span class="text-secondary">Czas wysyłki: do @sItem.deliveryTime dni</span></div>
                                    @if (sItem.quantity > 0)
                                    {
                                        <div class="col p-1"><span class="text-secondary">Ilość na magazynie: @sItem.quantity szt.</span></div>
                                    }
                                    else
                                    {
                                        <div class="col p-1"><span class="text-secondary">Chwilowo niedostępny - towar na zamówienie.</span></div>
                                    }
                                </div>

                            </div>
                            <div class="d-flex align-items-end flex-column mb-3" style="height: 200px;">
                                <div class="p-2 justify-content-center text-center m-auto">
                                    <span class="fs-5 fw-bolder text-success">@sItem.priceB.ToString("N2") zł</span>
                                </div>
                                <div class="p-2 input-group input-group-lg justify-content-center">

                                    <input type="hidden" asp-for="selectedCategory" value="@Model.selectedCategory" />
                                    <input type="hidden" name="pageNo" value="@Model.currentPage" />
                                    <input type="hidden" id="@sItem.id" asp-for="@Model.cartItem.ItemId" value="@sItem.id">
                                    <input type="hidden" asp-for="cartItem.Name" value="@sItem.name" />
                                    <input type="hidden" id="prizeB_@sItem.id" asp-for="@Model.cartItem.PriceN" value="@sItem.priceB" />
                                    <input type="hidden" asp-for="cartItem.WarehouseId" value="@sItem.warehouseId" />
                                    <input type="hidden" asp-for="@Model.cartItem.CartId" value="@Model.cart.Id">
                                    <input type="number" min="0" asp-for="cartItem.Quantity" class="form-control p-1" id="quantity_@sItem.id" value="1" data-val="true" aria-describedby="inputGroup-sizing-lg" style="max-width: 100px;">
                                    <span class="input-group-text" id="inputGroup-sizing-lg">szt.</span>
                                </div>
                                <div class="mt-auto">
                                    <button type="submit" class="btn btn-danger ms-4 me-4 @(sItem.quantity>0 ? null : "disabled")">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="" class="bi bi-cart-plus-fill text-light" viewBox="0 0 16 16">
                                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                                        </svg> <span class="text-light link-underline link-underline-opacity-0">Dodaj</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                }
                @if (User.Identity.IsAuthenticated == false)
                {
                    <div class="col-md-12 d-flex mt-2 bg-white">
                        <div class="text-center d-flex justify-content-center m-1 col-md-2">
                            <div class="d-flex align-self-center justify-content-center">
                                <img src="@mainImage.ImageUrl" class=" object-fit-contain  img-thumbnail img-fluid miniaturka border-0 " alt="@sItem.name">
                            </div>
                        </div>
                        <div class="d-flex  flex-grow-1 p-4 flex-column">
                            <div class="mb-auto">
                                <div class="d-inline-flex">
                                    @if ((sItem.tags.Any()) && (sItem.tags != null))
                                    {
                                        @foreach (var tags in sItem.tags)
                                        {
                                            <div class=" badge bg-danger text-wrap m-1" style="width: 6rem;">
                                                <span>@tags.Name</span>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="p-1">
                                <button type="button" class="btn btn-link" id="modal-description-btn-v2-@sItem.id"><span class="fs-6">@sItem.name</span></button>
                                <partial name="Modals/_ModalDescription"
                                 model="@(new ModalParams
                                        {
                                    Id="modal-description-v2-" + sItem.id,
                                    Title=sItem.name ,
                                    Description= sItem.description
                                    })" />
                            </div>
                            <div class="mt-auto row">
                                <div class="col p-1"><span class="text-secondary">Ean: @sItem.eanCode</span></div>
                                <div class="col p-1"><span class="text-secondary">Symbol: @sItem.itemSymbol</span></div>
                                <div class="col p-1"><span class="text-secondary">Czas wysyłki: do @sItem.deliveryTime dni</span></div>
                                @if (sItem.quantity > 0)
                                {
                                    <div class="col p-1"><span class="text-secondary">Ilość na magazynie: @sItem.quantity szt.</span></div>
                                }
                                else
                                {
                                    <div class="col p-1"><span class="text-secondary">Chwilowo niedostępny - towar na zamówienie.</span></div>
                                }
                            </div>

                        </div>
                        <div class="d-flex align-items-end flex-column mb-3" style="height: 200px;">
                            <div class="p-2 justify-content-center text-center m-auto">
                                <span class="fs-5 fw-bolder text-success">@sItem.priceB.ToString("N2") zł</span>
                            </div>
                        </div>
                    </div>
                }

                @if (User.IsInRole("Admin"))
                {
                    <form asp-controller="Item" asp-action="AddPcSet" method="post">
                        <input type="hidden" name="options" value="1" />
                        <input type="hidden" id="@sItem.id" asp-for="listItemsSets.setsItem.ItemId" value="@sItem.id">
                        <input type="hidden" min="0" asp-for="listItemsSets.setsItem.Quantity" class="form-control p-1" id="quantity_@sItem.id" value="1" data-val="true" aria-describedby="inputGroup-sizing-lg" style="max-width: 100px;">
                        <button type="submit" class="btn btn-dark ms-4 me-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="" class="bi bi-cart-plus-fill text-light" viewBox="0 0 16 16">
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                            </svg> <span class="text-light link-underline link-underline-opacity-0">+PcSet</span>
                        </button>
                    </form>
                }
            }


        </div>

    </div>
   

</div>
<form asp-action="Index" method="post" id="paginForm">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="javascript:PageClick(@Model.currentPage-1)">Wstecz</a>
            </li>
            @for (int i = 1; i < Math.Ceiling((double)Model.count / (double)Model.pageSize) + 1; i++)
            {
                if (i == Model.currentPage)
                {
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="javascript:PageClick(@i)">@i</a></li>
                }
            }
            <li class="page-item">
                <a class="page-link" href="javascript:PageClick(@Model.currentPage+1)">Dalej</a>
            </li>
        </ul>
    </nav>
    <input type="hidden" name="pageNo" id="pageNo" />
    <input type="hidden" name="pageSize" id="pageSize" value="10" />
    <input type="hidden" name="selectedView" id="selectedView" />
    <input type="hidden" asp-for="selectedCategory" value="@Model.selectedCategory" />
    <input class="form-control" type="hidden" aria-label="Search" asp-for="searchItem" value="@Model.searchItem">
    <input type="hidden" asp-for="selectedTag" id="selectedTag" value="@Model.selectedTag" />

</form>
@section Scripts
    {
        var selectedFavoriteItemId = 0;
    <script type="text/javascript">
        function PageClick(index) {
            var paginform = document.getElementById("paginForm");
            document.getElementById("pageNo").value = index;
            paginform.submit();
        }
        function ViewClick(view) {
            var headform = document.getElementById("headForm");
            document.getElementById("selectedView").value = view;
            headform.submit();
        }
        function SetViewLocal(setView) {
            var headform = document.getElementById("headForm");
            localStorage.setItem("selectedView", setView);
            headform.submit();
        }


        window.onload = function () {
            // Odczytujemy wartość z localStorage
            var wartosc = localStorage.getItem("selectedView");

            // Jeśli wartość istnieje i jest równa określonemu warunkowi, pokazujemy tabelę
            if (wartosc >= 1) {
                var tabela = document.getElementById("produktyLista");
                tabela.style.display = "";  // Pokazanie tabeli
            } else {
                var panel = document.getElementById("produktyPanel");
                panel.style.display = "contents";  // Pokazanie div-a
            }
            if (wartosc == 0) {
                var panel = document.getElementById("produktyPanel");
                panel.style.display = "";  // Pokazanie div-a
            }

        };

        $(document).ready(function () {
            $('[id ^= "modal-description-btn-"]').on('click', function () {
                var itemId = $(this).attr('id').split('-')[3];
                $('#modal-description-' + itemId).modal('show');
            });
        });
        $(document).ready(function () {
            $('[id ^= "modal-description-btn-v2-"]').on('click', function () {
                var itemId = $(this).attr('id').split('-')[4];
                $('#modal-description-v2-' + itemId).modal('show');
            });
        });
        function addFavorite(id, btn){
            selectedFavoriteItemId = id;
         
            $.ajax({
                type: "POST",
                url: "/Item/AddFavoriteItemToList",
                data: {
                    fItemId: selectedFavoriteItemId
                },
                success: function(data) {
                    if(data.success){
                        toastr.success('Dodano produkt do ulubionych')
                    }else{
                        toastr.success('Błąd! Nie udało się dodać produktu do ulubionych')
                    }
                },
                error: function(data) {
                    toastr.success('Błąd! Nie udało się dodać produktu do ulubionych')
                },
                dataType: "json"
            });       
        };
    </script>
    }

