@model SimplyShopMVC.Application.ViewModels.PcSets.ListPcSetsForListVm
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row justify-content-evenly">
    @foreach (var pcSet in Model.listSets)
    {
        <div class="col-md-5 m-2 p-2 rounded-3 border border-1 border-success">
            <div class="col-md-12 text-center">
                <span class="text-center fw-bold fs-5 p-1">@pcSet.Title</span>
            </div>
            <div class="col-md-12 align-items-center text-center">
                <img src="@pcSet.mainImage" style="max-height:200px">
            </div>
            <div class="col-md-12 d-flex flex-column border-top border-1 border-dark-subtle p-2">
                <div class="mb-auto pt-2">
                    <span class="fs-6 text-center">@pcSet.ShortDescription</span>
                </div>
                <div class="border border-secondary-subtle border-1 rounded-4 p-1">

                    @foreach (var itemSet in Model.setsItems.Where(i => i.PcSetsId == pcSet.Id))
                    {
                        <div class="col-md-12 pt-1">
                            <span class="text-dark-emphasis fs-6"> - @itemSet.Name</span>
                        </div>
                    }
                </div>  
                 <div class="col-md-12 align-self-end">
                <div class="col-md-12 position-relative mt-2" style="height:50px">
                    <div class="col-md-4 position-absolute bottom-0 start-0 p-2">
                        <form asp-action="PcSetViewDetail" method="get">
                            <input type="hidden" name="pcSetId" value="@pcSet.Id" />
                            <button class="btn btn-outline-secondary" type="submit">Szczegóły</button>
                        </form>
                    </div>
                    <div class="col-md-7 position-absolute bottom-0 end-0 p-2">
                        <div>
                            <span class="fs-4 fw-bold text-dark text-center ms-auto">Cena: </span>
                            <span class="fs-4 fw-bold text-danger text-center ms-auto pe-3 pb-2">@pcSet.TotalCost.ToString("N2") zł</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
           
        </div>
    }
</div>
