@model SimplyShopMVC.Application.ViewModels.PcSets.ListPcSetsForListVm
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    @foreach (var pcSet in Model.listSets)
    {
        <div class="row col-md-12 mt-1 pt-1">
            <div class="col-md-12 text-center">
                <span class="text-center fw-bold fs-3 p-1">@pcSet.Title</span>
            </div>
            <div class="col-md-3 align-items-center text-center">
                <img src="@pcSet.mainImage" style="max-height:200px">
            </div>
            <div class="col-md-9 d-flex align-items-end flex-column">
                <div class="mb-auto pt-2">
                    <span class="fs-4 text-center">@pcSet.ShortDescription</span>
                </div>
                <div>
                    <form asp-action="PcSetViewDetail" method="get"> 
                        <input type="hidden" name="pcSetId" value="@pcSet.Id"/>
                        <button class="btn btn-outline-secondary" type="submit">Zobacz więcej</button>
                    </form>
                </div>
                <div class="mt-auto">
                    <span class="fs-3 fw-bold text-info text-center ms-auto">Cena: </span>
                    <span class="fs-3 fw-bold text-danger text-center ms-auto pe-3 pb-2">@pcSet.TotalCost.ToString("N2") zł</span>
                </div>               
            </div>
        </div>
    }
</div>
