@model SimplyShopMVC.Application.ViewModels.Suppliers.AddIncomItemsVm
@{
    ViewData["Title"] = "ImportXmlFile";
}

<h1>AddItemsXML</h1>

<h4>NewItemVm - Incom XML</h4>
<hr />
<div class="row">
    <form asp-action="AddNewIncomXml" enctype="multipart/form-data" class="row gy-2 gx-3 align-items-center">
        <div class="d-flex align-items-start flex-md-column mb-1 flex-sm-row flex-wrap" style="height:3000px">

            @foreach (var mainCheck in Model.listIncomGroup.Where(a => a.GroupIdHome == 0).ToList())
            {
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="selectedCategoryId" value="@mainCheck.GroupId.ToString()" id="flexCheckDefault_@mainCheck.Id">
                        <label class="form-check-label" for="flexCheckDefault_@mainCheck.Id"> <span class="fw-bold"> @mainCheck.Name </span> </label>
                    </div>
                    @foreach (var childCheck in Model.listIncomGroup.Where(c => c.GroupIdHome == mainCheck.GroupId))
                    {
                        <div class="form-check ms-1">
                            <input class="form-check-input" type="checkbox" name="selectedCategoryId" value="@childCheck.GroupId.ToString()" id="flexCheckDefault_@childCheck.Id">
                            <label class="form-check-label" for="flexCheckDefault_@childCheck.Id"> - @childCheck.Name </label>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-md-3">
            <label class="col-auto col-form-label" asp-for="warehouseId">Wybierz magazyn: </label>
            <select class="form-select" asp-for="warehouseId">
                <option selected>Wybierz magazyn:</option>
                @foreach (var ware in Model.warehouseForListVm)
                {
                    <option value="@ware.Id" name="@ware.Name">@ware.Name</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label for="fileInputCategory" class="col-auto col-form-label">Dodaj plik Xml</label>
            <input type="file" asp-for="formFile" class="form-control" value="" />
        </div>
        <div class="col-md-2">
            <label class="form-check-label text-danger">
                Czy usunąć wszystkie towery tego dostawcy z bazy (niezalecane) ?
            </label>
            <input class="form-check-input h4" asp-for="removeItems" />

        </div>
        <div class="col-md-3">
            <label for="fileInputCategory" class="col-auto col-form-label">Dodaj link do Xml</label>
            <input type="text" asp-for="urlXml" class="form-control" value="" />
        </div>
        <div class="col-auto">
            <input type="submit" value="Import" class="btn btn-primary" />
        </div>
    </form>
</div>

