@model SimplyShopMVC.Application.ViewModels.Article.ArticleDetailVm
@{
    ViewData["Title"] = "HKR24.pl -" + Model.Title;
    var mainImageTofb = Model.imagePath.FirstOrDefault();
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@section MetaTags {
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="Po więcej odwiedź - hkr24.pl" />
    <meta property="og:image" content=" @ViewBag.ImgUrl@mainImageTofb" />
    <meta property="og:url" content="@ViewBag.FullUrl" />
    <meta property="og:type" content="product" />
}
@{
    if (Model != null)
    {
        string thumbImage = Model.imagePath.FirstOrDefault();
    }
    else
    {
        string thumbImage = "";
    }

}
@if (Model != null)
{

    <div class="row ">
        <div class="col-md-8 col-sm-12 mt-4 border-end border-1 border-secondary ">
            <div class="card-body">
                <h5 class="card-title">@(Html.DisplayFor(m => m.Title))</h5>
                <p class="card-text">@(Html.Raw(Model.Content))</p>
                <p class="card-text"><small class="text-body-secondary">Utworzono: @(Model.Created.ToShortDateString())</small></p>
            </div>
        </div>
        <div class="row col-md-3 col-sm-12 d-flex align-self-start mt-4 ms-2">
            <div class="col-md-12 mb-3" style="max-height:30px"><span class="fs-6 fw-bold"> Pozostałe artykuły w tej kategorii:</span></div>
            @if (Model.listArticle != null)
            {
                @foreach (var item in Model.listArticle)
                {
                    var mainImage = item.imagePath.FirstOrDefault();
                    <div class="col-md-12 row overflow-hidden m-0 mt-1 mb-1 pb-1 pt-1 border-bottom border-2 border-secondary" style="height:100px">
                        <div class="col-4">
                            @if (mainImage != null)
                            {
                                <img src="\media\articleimg\@item.Id\@mainImage" class=" object-fit-cover  w-100 h-100 " alt="@item.Title">
                            }
                        </div>
                        <div class="col-8 d-flex align-self-center">
                            <span class="">@Html.ActionLink(item.Title, "ArticleDetail", new {id=item.Id}, new{@class="link-offset-2 link-underline link-underline-opacity-0"}) </span>

                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
else
{
    <span class="fs-3"> Brak wybranej strony !!!</span>
}
