@model SimplyShopMVC.Application.ViewModels.Article.ArticleDetailVm

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string thumbImage = Model.imagePath.FirstOrDefault();
}
<div class="row justify-content-center ">
    <div class="col-md-8 col-sm-12 mt-4 border border-1 border-dark rounded rounded-3">
        <div class="card-body">
            <h5 class="card-title">@(Html.DisplayFor(m => m.Title))</h5>
            <p class="card-text">@(Html.Raw(Model.Content))</p>
            <p class="card-text"><small class="text-body-secondary">Utworzono: @(Model.Created.ToShortDateString())</small></p>
        </div>
    </div>
    <div class="row col-md-3 col-sm-12 justify-content-center mt-4 ms-2 border border-1 border-dark rounded rounded-3">
        <div class="col-md-12 " style="max-height:30px"><span class="fs-6 fw-bold"> Pozostałe artykuły w tej kategorii:</span></div>
        @if (Model.listArticle != null)
        {
            @foreach (var item in Model.listArticle)
            {
                thumbImage = item.imagePath.FirstOrDefault();
                <div class="col-md-12 justify-content-center ">
                    <div class="col-md-12 p-1  justify-content-center" style="background-image:url('/media/articleimg/@(item.Id)/@thumbImage'); background-size:cover;">
                        @*<img src="~/media/articleimg/@(item.Id)/@thumbImage" class="object-fit-cover img-fluid border rounded" style="max-height:300px">*@
                        <div class="col-md-12 top-0 start-0 text-center" style="background-color: rgba(255, 255, 255, 0.4);">
                            <span class="ps-1 pt-1 fs-5 fw-bold mt-1 text-black">@(item.Title)</span>
                        </div>
                        <div class="col-md-12 top-50 start-0 text-center" style="background-color: rgba(255, 255, 255, 0.4);">
                            <p class="mb-auto mt-1">@(item.ShortDescription)</p>
                        </div>
                        <div class="col-md-12 bottom-0 start-0 text-center" style="background-color: rgba(255, 255, 255, 0.4);">
                            <a href="/Article/ArticleDetail/@item.Id" class="icon-link gap-1 text-white fw-bold pb-2 icon-link-hover stretched-link">Więcej</a>
                        </div>
                    </div>
                </div>              
            }
        }
    </div>
</div>
