@model SimplyShopMVC.Application.ViewModels.Article.ListArticleForListVm

@{
    ViewData["Title"] = "Article";
}

<h1>Article</h1>

<p>
    <a asp-action="AddArticle">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Tytuł
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Articles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("UpdateArticle", "UpdateArticle", new {id=item.Id}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
