@model SimplyShopMVC.Application.ViewModels.Article.UpdateArticleVm

@{
    ViewData["Title"] = "UpdateArticle";
    
}

<h1>UpdateArticle</h1>

<h4>NewArticleVm</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="UpdateArticle" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <p class="mt-1 mb-0">Wybierz Tag (kategorię) artykułu</p>
                <select class="form-select" asp-for="NewSelectedTags" multiple>

                    @foreach (var tags in Model.Tags)
                    {
                        var sTag = Model.SelectedTags.FirstOrDefault(t => t.Id == tags.Id);
                        <option value="@tags.Id" name="@tags.Name" selected="@(sTag !=null && tags.Id == sTag.Id ? "selected": null)">@tags.Name</option>
                    }
                    <span asp-validation-for="SelectedTags" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                    <p class="mt-1 mb-0">Wybierz priorytet artykułu</p>
                    <select class="form-select" asp-for="Priority">
                    <option value="0" name="0" selected="@(Model.Priority == 0 ? "selected": null)">0</option>
                    <option value="1" name="1" selected="@(Model.Priority == 1 ? "selected": null)">1</option>
                    <option value="2" name="2" selected="@(Model.Priority == 2 ? "selected": null)">2</option>
                    <option value="3" name="3" selected="@(Model.Priority == 3 ? "selected": null)">3</option>
                        <span asp-validation-for="Priority" class="text-danger"></span>
                    </select>
                </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" id="mytextarea" class="form-control">Wpisz tekst</textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="form-label">Dodaj zdjęcie:</label>
                <input asp-for="Image" class="form-control" type="file" name="Image" id="Image" multiple>
            </div>
            <p class="mb-0">Wybierz zdjęcie do usunięcia: </p>
            <div class="form-group">
                <select class="form-select" id="SelectedImage" name="SelectedImage" multiple>
                    @foreach (var images in Model.ListImages)
                    {
                        <option value="@images.Name" name="SelectedImage">@images.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        
    </div>
    <div class="col-md-4">
        @foreach (var images in Model.ListImages)
        {

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                <div class="card" style="max-height:400px" >
                    <div class="text-center">
                        <img src="@images.ImageUrl" class="card-img-top object-fit-contain borderrounded img-thumbnail w-75 h-100" alt="@images.Name">
                    </div>
                    <div class="card-body overflow-auto">
                        <h5 class="card-title d-inline-block text-truncate">@images.Name</h5>
                        <p class="card-text overflow-y-auto"><code>&lt;img src=&quot;@images.ImageUrl&quot; class=&quot;img-fluid rounded mx-auto d-block&quot; alt=&quot;@images.Id&quot;&gt;</code></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        }
    </div>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


